################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/codingTest_Project/.vs/codingTest_Project/v16/ipch/AutoPCH
/codingTest_Project/.vs/codingTest_Project/v16/Browse.VC.opendb
/codingTest_Project/.vs/codingTest_Project/v16/Browse.VC.db-wal
/codingTest_Project/.vs/codingTest_Project/v16/Browse.VC.db-shm
/codingTest_Project/.vs/codingTest_Project/v16/Browse.VC.db
/codingTest_Project/.vs/codingTest_Project/v16/.suo
/codingTest_Project/.vs/codingTest_Project/v16
